body
  background #08e08b
  font-family: 'Roboto', sans-serif;

h1
  color #1e88e5

input::-webkit-outer-spin-button, /* Removes arrows */
input::-webkit-inner-spin-button, /* Removes arrows */
input::-webkit-clear-button { /* Removes blue cross */
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.inline-block
  display: inline-block

.times
  margin 0 5px

.hourlyRate
  margin 0 5px

.edit
  margin-right 5px

.total
  font-size 150%
  margin-top -5px
  margin-bottom 8px

ul
  margin-left -40px

li
  list-style-type none

.nif
  margin 0 20px

.center
  text-align center

.startedAt, .endedAt
  display inline-block