<head>
  <title>Hourly</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <!-- production -->
  <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> -->
</head>

<body>
  {{> loginButtons}}

  <h1 class="center">Hourly - calculate how much you've earned on your hourly rate job</h1>

  {{#if currentUser}}
  <div id="render-target"></div>
  {{/if}}
</body>
